<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/" method="post">
    <label for="name">Name:-  </label>
  <input type="text" id="name" name="name"><br><br>

  <label for="coname">Co Name:-  </label>
  <input type="text" id="coname" name="coname"><br><br>


 <label for="quantity">Quantity: </label>
  <input type="number" id="quantity" name="quantity"><br><br> 


  <label for="price"> Buying Price: </label>
  <input type="number" id="price" name="price"><br><br> 


  <input type="submit" value="Submit">
</form>

  </body>
</html>