<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Anik</h1>
    <form action="/save" style="text-align: center;" method="POST">
        <label for="logEmail">Email:</label><br>
        <input type="text" id="logEmail" name="logEmail" placeholder="aleisterbalck@gmail.com"><br><br>
        
        <input type="submit" value="Submit"><br>
        
      </form> 
</body>
</html>