<html>
  <title>
    Home
  </title>
  <body>
   <div>
      <ul style="color:white; float: right ;" class="nav navbar-nav">
            <li><a href="/logIn">Login   </a> </li>
            <li><a href="/signUp">Sign Up </a>  </li>

        </ul>
       <h1 style="font-size: 150px;text-align: center;">Main Page</h1>
   </div>
 </body>
</html>